::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}
.btn-group {
  display: inline-block;
  float: right;
  cursor: pointer;
}
.row {
  opacity: 0.7;
}
